workflows/n8n_clara_pipeline_cloud_verbose.json
{
  "name": "Clara Zero-Cost Pipeline (n8n Cloud Verbose)",
  "nodes": [
    {
      "parameters": {},
      "id": "start_manual_trigger",
      "name": "Start Here (Manual Trigger)",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        180,
        280
      ]
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      owner: 'REPLACE_WITH_GITHUB_USERNAME',\n      repo: 'REPLACE_WITH_REPO_NAME',\n      workflow_id: 'run_clara_pipeline.yml',\n      ref: 'main',\n      token: 'REPLACE_WITH_GITHUB_PAT'\n    }\n  }\n];"
      },
      "id": "set_config",
      "name": "Set GitHub Config",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        420,
        280
      ]
    },
    {
      "parameters": {
        "jsCode": "const cfg = $json;\n\nif (\n  String(cfg.owner || '').startsWith('REPLACE_') ||\n  String(cfg.repo || '').startsWith('REPLACE_') ||\n  String(cfg.token || '').startsWith('REPLACE_')\n) {\n  throw new Error('Update owner/repo/token in Set GitHub Config node before running.');\n}\n\nconst response = await this.helpers.httpRequest({\n  method: 'POST',\n  url: `https://api.github.com/repos/${cfg.owner}/${cfg.repo}/actions/workflows/${cfg.workflow_id}/dispatches`,\n  headers: {\n    Authorization: `Bearer ${cfg.token}`,\n    Accept: 'application/vnd.github+json',\n    'X-GitHub-Api-Version': '2022-11-28'\n  },\n  body: { ref: cfg.ref },\n  json: true,\n  resolveWithFullResponse: true,\n  simple: false\n});\n\nreturn [\n  {\n    json: {\n      ...cfg,\n      dispatch_status_code: response.statusCode,\n      dispatched: response.statusCode === 204\n    }\n  }\n];"
      },
      "id": "dispatch_action",
      "name": "Dispatch GitHub Action",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        700,
        280
      ]
    },
    {
      "parameters": {
        "jsCode": "const cfg = $json;\n\nconst runs = await this.helpers.httpRequest({\n  method: 'GET',\n  url: `https://api.github.com/repos/${cfg.owner}/${cfg.repo}/actions/workflows/${cfg.workflow_id}/runs?per_page=1`,\n  headers: {\n    Authorization: `Bearer ${cfg.token}`,\n    Accept: 'application/vnd.github+json',\n    'X-GitHub-Api-Version': '2022-11-28'\n  },\n  json: true\n});\n\nconst run = (runs.workflow_runs || [])[0] || null;\n\nreturn [\n  {\n    json: {\n      ...cfg,\n      latest_run_id: run ? run.id : null,\n      latest_run_status: run ? run.status : null,\n      latest_run_conclusion: run ? run.conclusion : null,\n      latest_run_url: run ? run.html_url : null\n    }\n  }\n];"
      },
      "id": "check_status",
      "name": "Check Latest Run",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        980,
        280
      ]
    },
    {
      "parameters": {
        "jsCode": "const j = $json;\n\nreturn [\n  {\n    json: {\n      summary: j.dispatched\n        ? 'Pipeline dispatch succeeded. Open latest_run_url to monitor execution and download artifacts when complete.'\n        : 'Dispatch failed. Check PAT scopes (repo, workflow) and repository/workflow name.',\n      owner: j.owner,\n      repo: j.repo,\n      workflow_id: j.workflow_id,\n      dispatch_status_code: j.dispatch_status_code,\n      latest_run_status: j.latest_run_status,\n      latest_run_conclusion: j.latest_run_conclusion,\n      latest_run_url: j.latest_run_url\n    }\n  }\n];"
      },
      "id": "summary",
      "name": "Build Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1260,
        280
      ]
    }
  ],
  "connections": {
    "Start Here (Manual Trigger)": {
      "main": [
        [
          {
            "node": "Set GitHub Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set GitHub Config": {
      "main": [
        [
          {
            "node": "Dispatch GitHub Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dispatch GitHub Action": {
      "main": [
        [
          {
            "node": "Check Latest Run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Latest Run": {
      "main": [
        [
          {
            "node": "Build Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "pinData": {}
}
